<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="./"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="homep.php?page=home">Home</a></li>
                 
                 <li class="nav-item"><a class="nav-link js-scroll-trigger" href="homep.php?page=consult">Consultation</a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="homep.php?page=clivp">Prescriptions</a></li>
                 <li class="nav-item"><a class="nav-link js-scroll-trigger" href="homep.php?page=appointm">Manage Appoitments</a></li>

                 
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="homep.php?page=doctors">Make Appointment</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="admin/ajax.php?action=logout2"><i class="fa fa-power-off"></i></a></li>
            </ul>
        </div>
    </div>
</nav>